
Assigment_2.zip
Assigment_2/__pycache__/interconnected_neuronal_network.cpython-311.pyc
Assigment_2/interconnected_neuronal_network.py
Assigment_2/interconnected_neuronal_network.py
Assigment_2/__pycache__/interconnected_neuronal_network.cpython-311.pyc
Assigment_2/main.py
